.btn {
  align-items: center;
  display: flex;
  gap: 8px;
  max-width: max-content;
  line-height: 1;
  background-color: #F2F2F2;
  color: $black;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 57px;
  padding: 11px 19px;
  transition: background-color .4s, border .4s, color .4s;

  &:hover {
    background-color: transparent;
    border-color: $accent;
    color: $black;

    svg path {
      fill: $black;
    }
  }

  &:focus {
    background-color: $black;
    color: $white;
    border-color: transparent;

    svg path {
      fill: $white;
    }
  }
}