<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
      name="description"
      content="Experience the future of decentralized finance with JLBAI. Combining advanced AI technology with blockchain, we deliver automated trading, real-time analytics, and seamless liquidity management across EVM & SOL networks."
  >
  <meta http-equiv="content-type" content="public, max-age=3600">
  <meta name="theme-color" content="#fff"/>
  <title>JLBAI - AI-Powered Automation for DeFi</title>
  <link rel="shortcut icon" href="images/icons/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="body">